# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs
*.log

# IDE / Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
